<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.wppiotrek85.wydatkiphone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.RootActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.EditElementActivity"
            android:label="@string/app_name" />
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.ObjectManagerActivity"
            android:label="@string/title_activity_object_manager" >
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkibase.activities.CalculatorInput"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.TransactionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_transaction"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.SingleObjectTyleList"
            android:label="@string/title_activity_single_object_tyle_list" >
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.StartActivity"
            android:label="@string/title_activity_start_activiry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.ObjectsListManagerActivity"
            android:label="@string/title_activity_objects_list_manager" >
        </activity>
        <activity
            android:name="pl.wppiotrek85.wydatkiphone.InvokeTransactionManagerActivity"
            android:label="@string/title_activity_invoke_transaction_manager" >
        </activity>
    </application>

</manifest>